{% extends 'base.html' %}
{% load static %}

{% block title %}
  Auctioned Product Detail
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h3 class="mt-4">{{ auctioned_product.name }}</h3>
    <div class="card mt-4">
      <div class="card-header">
        Product Details
      </div>
      <div class="card-body">
        <h4> Name of Product : {{auctioned_product.name }} </h4>
        <h4> Highest Current Bid for This Product : {{ auctioned_product.highest_bid }} </h4>
        <h4> Highest Bidder (E-mail) for This Product : {{ highest_bidder }} </h4>
        <h4> Highest Current Bid for This Auction : {{ auctioned_product.auction.highest_bid }} </h4>
        <h4>
          Minimum Required Bid: {{ auctioned_product.auction.minimum_bid_requirement }}
        </h4>
        <h4> Current Status: Available </h4>
        <h4> My Current Highest Bid: {{ given_bid }} </h4>
      </div>
    </div>
    
    <div class="card mt-4">
      <div class="card-header">
        Bidding
      </div>
      <div class="card-body">
        <h4> Would You Like To Bid? </h4>
        <h4> Please Enter The Value You Would Like To Bid For The Product. </h4>
        <hr/>
        <form  method="post">
          {% csrf_token %}
          <input  type="number"
                  name="bid"
                  class="form-control"
                  value="{{ given_bid }}"
                  min="{{ auctioned_product.auction.minimum_bid_requirement }}"
                  />
          <input  class="btn btn-primary mt-4"
                  value="Place a Bid"
                  type="submit"/>
        </form>

      </div>

    </div>
  </div>
{% endblock %}


