{% extends 'base.html' %}
{% load static %}

{% block title %}
  Products for Release
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h3 class="mt-4"> Products Ready For Release </h3>
    <div class="card mt-4">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id ="dataTable">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Owner</th>
                <th>Product Cost</th>
                <th>Product Rarity </th>
                <th> Actions </th>
              </tr>
            </thead>
            <tbody>
              {%for product in product_list %}
                <tr>
                  <td>{{ product.name }}</td>
                  <td>{{ product.owner_supplier.name }}</td>
                  <td>{{ product.product_cost }}</td>
                  <td> {{ product.product_rarity }} </td>
                  <td>
                    <a  class="btn btn-secondary"
                        href="{% url 'products:release_to_winner' product.id %}">
                      Release To Winning Bidder
                    </a>
                  </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready( function () {
    $('#dataTable').DataTable();
  } );
</script>
{% endblock %}
