{% extends 'base.html' %}
{% load static %}

{% block title %}
  Release Product To Winner?
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h3 class="mt-4"> Release Product To Winner? </h3>
    <div class="card mt-4">
      <div class="card-header">
      </div>
      <div class="card-body">
        <form method="post">{% csrf_token %}
          <p>Are you sure you want to Release Product To Winner?</p>
          <input type="submit" value="Confirm">
        </form>
      </div>
    </div>
    </div>
{% endblock %}


